.overall-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
}

.sub-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.last-div {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.sum-span {
  color: yellowgreen;
  font: 32px;
}
